<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <servlet>
        <servlet-name>signupservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>signupservlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>messageservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.MessageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>messageservlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homeservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>homeservlet</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>followservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.FollowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>followservlet</servlet-name>
        <url-pattern>/follow/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>unfollowservlet</servlet-name>
        <servlet-class>com.in6k.twitter.servlet.UnFollowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>unfollowservlet</servlet-name>
        <url-pattern>/unfollow/*</url-pattern>
    </servlet-mapping>





   <!-- <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>-->

</web-app>